html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#targetfrm {
  border: none;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  opacity: 0;
}

#wrapper {
  position: absolute;
  top: 375px;
  left: 50%;
  transform: translateX(-50%);
  width: 64rem;
  margin: 0 auto;
  padding: 0 7.4rem;
  box-sizing: border-box;
  z-index: -1;
}

#fakeBtn {
  width: 274px;
  height: 50px;
  border: 1px solid blue;
  background: blue;
}